RewriteEngine On
RewriteBase /www.ikawa.rw/_ikawa/

# If request is not a file or folder, redirect to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ roots/index.php [QSA,L]


